.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 40px 60px;
  margin-top: var(--grid-margin-top);

  @media (max-width: 1440px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1200px) {
    padding: 27px 26px;
  }

  @media (max-width: 940px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 680px) {
    grid-template-columns: minmax(auto, 320px);
    justify-content: center;
    padding: 27px 20px;
  }
}