.save-favorites {
  font-size: 26px;
  cursor: pointer;
}

.dropdown-wrapper {
  max-width: 220px;
  font-size: 16px;
  line-height: 24px;
  background: var(--white);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 15px;
}