@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #fafafa;

  --font: rgba(0, 0, 0, 1);
  --font-gray: rgba(23, 23, 25, 0.3);

  --border: rgba(39, 39, 39, 0.1);

  --white: #fff;

  --link: rgba(19, 144, 229, 1);
  --remove: #ff0000;
  --execute: #30ae00;
}

html,
body {
  min-height: 100%;
}

body {
  font: 400 14px 'Roboto', sans-serif;
  line-height: 16px;
  color: var(--font);
  background-color: var(--body-bg);
}

h1 {
  font: 400 36px 'Roboto', sans-serif;
  line-height: 52px;
  color: var(--font);
}

.container {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
