.favorite-modal {
  .ant-modal-content {
    border-radius: 10px;
    overflow: hidden;
  }
  .ant-modal-header {
    text-align: center;
    border-bottom: 0;
    padding-top: 36px;
  }
  .ant-modal-footer {
    text-align: center;
    border-top: 0;
    padding-bottom: 36px;
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
}
